.tomato{background-color: red;}
.orange{background-color: orange;}
.blue{background-color: blue;}
.verde{background-color:green;}
.cinza{background-color: gray;}
.roxo{background-color: blueviolet;}
.rosa{background-color: pink;}
.branco{background-color: whitesmoke;}